@import "../vars.css"

.Card
    border-radius: 3rem
    margin: 1em
    padding: 1em
    display: flex
    color: var(--font-colour)

.Card-titles
    display: flex
    flex-direction: row

.Card-children
    margin-top: 1em
    margin-left: 
    font-family: var(--body-fonts)
    padding-left: 2em

.Card-hover
    &:hover
        background: var(--bg-hover)
        cursor: pointer

    &:active
        background: var(--bg-active)

.Card-border
    border: 2px solid var(--border-colour)
    box-shadow: 3px 3px var(--mute-colour)
    

.Card-content
    display: flex
    align-content: center
    margin-left: 0.5em

    *
        margin: 0

    .Card-titles
        width: 100%
        display: flex
        flex-direction: column
        justify-content: center

    .Card-title
        color: var(--font-colour)
        width: 100%
        display: flex
        font-family: var(--title-fonts)
        font-weight: 300
        font-size: 1.3em

        .FormatDisplay
            margin-left: 0.3em

    .Card-subtitle
        font-family: var(--body-fonts)
        font-weight: 300
        color: var(--mute-colour)
        font-size: calc( var(--subtitle-size) - 0.2rem )

.Card-image
    // Don't know what was overriding this ¯\_(ツ)_/¯
    width: 3vw !important
    height: 3vw !important

.Card-image.circular
    border-radius: 50%

.Card-small
    font-size: 0.85em
    
    .Card-subtitle
        font-size: 0.9em
    
    .Card-image
        // Don't know what was overriding this ¯\_(ツ)_/¯
        width: 2vw !important
        height: 2vw !important

.Card-check
    font-size: 1.5em
    margin-top: 1.5vh
    margin-right: 1.5vh