@import url("./vars.css");

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    color: var(--font-colour);
    background: var(--bg-default);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Images were being resized based on their margin */
img {
    box-sizing: content-box;
}

p,
h1,
h2,
h3 {
    margin: 0;
}

a {
    width: auto
}

*:focus {
    outline-color: var(--outline-colour);
}

body {
    padding: 0;
    margin: 0;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(83, 83, 83);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}